@{
      ViewData["Title"] = "Home Page";
 }

 <div class="text-center">
      <h1 class="display-4">  Welcome world ! </h1>
      <p> Learn about <a href="https://docs.microsoft.com/aspnet/core" building web app with asp.net core </a>   </p>
 </div>